@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:rgba(0, 0, 0, 1);
    margin: 20vh;
    color: white;
    font-family: "Poppins";
    font-weight: 300;
    overflow-x: hidden;
}


#container {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
   
   
}

.sub-container {
    width: 25%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 5px;
    flex: 1px 1 100%;
}


img {
    width: 8vw;
    height: auto;
}











p {

    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    font-style: italic;

}


label {
    font-style: oblique;
    font-size: 0.9vw;
    
}


